
sidebar {
	border-radius: 20px;
	background: rgb(255 255 255 / 30%);
	border: 1px solid #1D267D;
	color: #1D267D;
	padding: 10px 15px;
	line-height: 1.8;
	margin: 17px 0px 0px 0px;
	font-weight: bold;
}

div[id="contents"]>div {
	background-color: white;
	border-radius: 10px;
	padding: 1px 25px 25px 25px;
	border-top: 5px solid #1D267D;
	margin-top: 15px;
	box-shadow: 0px 2px 8px rgb(0,0,0,0.08);
	scroll-margin-top: 100px;
}

div[id="about"] .container {
	display: grid;
	grid-template-columns: 160px auto;
}


#realbody {
	padding: 3px 20px;
	display: grid;
	grid-template-columns: 300px 1fr;
	grid-column-gap: 25px;
}

@media (max-width: 1300px) {
	#realbody {
	grid-template-columns: 1fr;
	grid-row-gap: 25px;
	}
	
	nav {
	margin: 25px 0px -10px 0px;
	}
}


div[id="projects"]> .container {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

#projects {
	grid-column: 1 / span 2;
}

#contents {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-column-gap: 15px;
}


@media (max-width : 970px) {
	#projects {}
	
div[id="projects"]> .container {
		grid-template-columns: 1fr;
		grid-row-gap: 45px;
	}
	#contents {
		display: block;
	}
}


@media (min-width : 2200px) {

div[id="projects"]> .container {
		grid-template-columns: repeat(auto-fill, 30%);
	}
}

#scrollTop {
	position: fixed;
	bottom: 30px;
	right: 32px;
	width: 50px;
	filter: opacity(0.8);
	border-radius: 50px;
	box-shadow: 0px 3px 10px rgb(0,0,0,0.3);
}

#scrollTop:hover{
	animation: opacity 0.3s forwards;
}
