@charset "UTF-8";

body {
	padding: 0px 80px;
	font-family: 'Noto Sans', sans-serif;
	font-family: 'Noto Sans KR', sans-serif;
}

a {
	color: #1D267D;
	word-wrap: break-word;
}

a:hover{
	filter: brightness(180%);
}

h1{
	padding-top: 100px;
}

hr {
	border-top: 1px solid #ccc;
}

label {
	display: block;
	font-weight: bold;
}

::selection {
	background-color: #aaa;
}
	
.btn{
	cursor: pointer;
}

.grid{
	display: grid;
}

.btn-color1 {
	background-color: #0C134F;
	border: 1px solid #0C134F;
	color: white;
	margin-top: -5px;
}

.btn-color1:hover {
	background-color: #0C134F;
	border: 1px solid #0C134F;
	color: white;
	filter: brightness(180%);
}

.btn-line-color1 {
	background-color: white;
	border: 1px solid #0C134F;
	color: #0C134F;
	margin-top: -5px;
}

.btn-line-color1:hover {
	background-color: #0C134F;
	border: 1px solid #0C134F;
	color: white;
	filter: brightness(180%);
}

.btn-color2 {
	background-color: #1D267D;
	border: 1px solid #1D267D;
	color: white;
	margin-top: -5px;
}

.btn-color2:hover {
	background-color: #1D267D;
	border: 1px solid #1D267D;
	color: white;
	filter: brightness(180%);
}

.btn-line-color2 {
	background-color: white;
	border: 1px solid #1D267D;
	color: #1D267D;
	margin-top: -5px;
}

.btn-line-color2:hover {
	background-color: #1D267D;
	border: 1px solid #1D267D;
	color: white;
	filter: brightness(180%);
}

.center {
	text-align: center;
	margin: auto;
}

.loginform-img {
	position: relative;
	top: -1px;
	filter: opacity(0.2);
	margin-right: 2rem;
}

.border-none {
	border: none;
}

.small-img {
	position: relative;
	padding: 0px;
	top: -1px;
	width: 16px;
}

.small-img-2x {
	position: relative;
	padding: 0px;
	top: -3px;
	width: 32px;
}

.form-check-input:checked{
	background-color: #D4ADFC;
	border-color: #D4ADFC;
}

.wrongNotice {
    font-size: 0.8rem;
    margin-bottom: 10px;
    position: relative;
    filter: invert(36%) sepia(97%) saturate(6269%) hue-rotate(352deg) brightness(91%) contrast(130%);
}